html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}

a {
  text-decoration: none;
}

.special {
  background-image: url(../IMAGE/homeSpecialBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(240, 248, 255, 0);
  height: 21%;
  padding: 0%;
  margin: 30% 0 0 80%;
  position: absolute;
  z-index: 3;
}

.specialAka {
  height: 29%;
  padding: 0%;
  margin: 28% 0 0 78%;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.specialAka:hover {
  opacity: 1;
}

.gallery {
  background-image: url(../IMAGE/homeGalleryBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(240, 248, 255, 0);
  height: 21%;
  padding: 0%;
  margin: 30% 0 0 76%;
  position: absolute;
  z-index: 3;
}

.galleryAka {
  height: 29%;
  padding: 0%;
  margin: 28.5% 0 0 74%;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.galleryAka:hover {
  opacity: 1;
}

.play {
  background-image: url(../IMAGE/homePlayBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(240, 248, 255, 0);
  height: 25%;
  padding: 0%;
  margin: 30% 0 0 72%;
  position: absolute;
  z-index: 3;
}

.playAka {
  height: 30%;
  padding: 0%;
  margin: 29% 0 0 70%;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.playAka:hover {
  opacity: 1;
}

.chara {
  background-image: url(../IMAGE/homeCharaBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(240, 248, 255, 0);
  height: 22%;
  padding: 0%;
  margin: 30% 0 0 68%;
  position: absolute;
  z-index: 3;
}

.charaAka {
  height: 28%;
  padding: 0%;
  margin: 29% 0 0 66%;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.charaAka:hover {
  opacity: 1;
}

.story {
  background-image: url(../IMAGE/homeStoryBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(240, 248, 255, 0);
  height: 24%;
  padding: 0%;
  margin: 30% 0 0 64%;
  position: absolute;
  z-index: 3;
}

.storyAka {
  height: 30%;
  padding: 0%;
  margin: 28.5% 0 0 62.8%;
  position: absolute;
  z-index: 3;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.storyAka:hover {
  opacity: 1;
}

.news .top {
  position: relative;
  margin: 47% 0 0 20%;
  padding: 0%;
  width: 50%;
}

.news .middle {
  position: relative;
  margin: 3% 0 0 20%;
  padding: 0%;
}

.news .bottom {
  position: relative;
  margin: 5% 0 0 20%;
  padding: 0%;
  width: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.news .buttonOpen {
  position: absolute;
  margin: -4.5% 0% 0 50%;
  padding: 0%;
  cursor: pointer;
  z-index: 2;
}

.news .buttonClose {
  position: absolute;
  margin: -4.5% 0% 0 50%;
  padding: 0%;
  cursor: pointer;
  z-index: 1;
}

.news .open_contents {
  margin: 6% 0 0 10%;
  padding: 0%;
  position: absolute;
  opacity: 0;
}

.news .open_contents p {
  color: white;
  font-size: 1.2em;
  font-family: "New Tegomin", serif;
}

.news .open_contents p span {
  font-family: "Zhi Mang Xing";
  font-size: 1.2em;
}

.news .close_contents {
  margin: 1% 0 0 10%;
  padding: 0%;
  position: absolute;
}

.news .close_contents p {
  color: white;
  font-size: 1.2em;
  font-family: "New Tegomin", serif;
}

.news .close_contents p span {
  font-family: "Zhi Mang Xing";
  font-size: 1.2em;
}
/*# sourceMappingURL=home.css.map */