//////------------------Common-------------------------////////////////
body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}
a {
  text-decoration: none;
}
.black {
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin: -7% 0 0 15%;
  padding: 0%;
  width: 75%;
  height: 10.6%;
  z-index: 100;
}

h1 {
  position: relative;
  margin: -1% 0 0 18%;
  padding: 0;
  font-family: "Zhi Mang Xing";
  font-size: 8em;
  letter-spacing: -0.2em;
  font-weight: lighter;
  writing-mode: vertical-lr;
  z-index: 8;
 
}
.light {
  position: fixed;
  top: 0%;
  margin: -30% 0 0 14.5%;
  padding: 0%;
  z-index: 8;
  opacity: 80%;
  filter: sepia(70%);
}
.blackNew {
  position: fixed;
  top: 0%;
  margin: -30% 0 0 14.5%;
  padding: 0%;
  z-index: 10;
  opacity: 80%;
}

.paper {
  margin: -1% 0 0 17%;
  padding: 0%;
  position: absolute;
  z-index: 1;
  height: 180%;
}

.top {
  position: absolute;
  margin: -13.5% 0 0 29%;
  padding: 0%;
  z-index: 100;
}
.topAka {
  position: absolute;
  margin: -12.5% 0 0 28%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.chara {
  position: absolute;
  margin: -13.5% 0 0 47%;
  padding: 0% 10% 0 0;
  z-index: 110;
}
.charaAka {
  position: absolute;
  margin: -12.5% 0 0 47%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.gallery {
  position: absolute;
  margin: -13.7% 0 0 65%;
  padding: 0%;
  z-index: 110;
}
.galleryAka {
  position: absolute;
  margin: -12.5% 0 0 65%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.story {
  position: absolute;
  margin: -8.5% 0 0 33%;
  padding: 0%;
  z-index: 110;
}
.storyAka {
  position: absolute;
  margin: -7.5% 0 0 33%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.play {
  position: absolute;
  margin: -8.5% 0 0 52%;
  padding: 0% 10% 0 0;
  z-index: 110;
}
.playAka {
  position: absolute;
  margin: -7.5% 0 0 52%;
  padding: 0%;
  z-index: 210;
}
.special {
  position: absolute;
  margin: -8.5% 0 0 69%;
  padding: 0%;
  z-index: 110;
}
.specialAka {
  position: absolute;
  margin: -7.5% 0 0 70%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
//////////--------------------------------------------/////////////

.gaiyo {
  background-image: url(../IMAGE/gaiyoBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(255, 255, 255, 0);
  font-size: 4.3em;
  padding: 0% 0 0% 0;
  margin: 2% 0 0 25%;
  position: absolute;
  z-index: 20;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-image: url(../IMAGE/gaiyoAfter.png);
  }
}
.sei {
  background-image: url(../IMAGE/seiBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(255, 255, 255, 0);
  font-size: 3.7em;
  padding: 0%;
  margin: 7% 0 0 25%;
  position: absolute;
  z-index: 20;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-image: url(../IMAGE/seiAfter.png);
  }
}
.yado {
  background-image: url(../IMAGE/yadoBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(255, 255, 255, 0);
  font-size: 3.2em;
  padding: 0%;
  margin: 14% 0 0 24.5%;
  position: absolute;
  z-index: 20;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-image: url(../IMAGE/yadoAfter.png);
  }
}
.town {
  background-image: url(../IMAGE/townBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(255, 255, 255, 0);
  font-size: 3.4em;
  padding: 0%;
  margin: 20% 0 0 24.5%;
  position: absolute;
  z-index: 20;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-image: url(../IMAGE/townAfter.png);
  }
}
.igyo {
  background-image: url(../IMAGE/monsterBefore.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgba(255, 255, 255, 0);
  font-size: 4.5em;
  padding: 0%;
  margin: 28% 0 0 25%;
  position: absolute;
  z-index: 20;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-image: url(../IMAGE/monsterAfter.png);
  }
}
.gaiyoHide {
  opacity: 1;
  p {
    background-image: url(../IMAGE/gaiyoTitle.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(240, 248, 255, 0);
    font-size: 7em;
    padding: 0%;
    margin: -3% 0 0 50%;
    position: absolute;
    z-index: 8;
  }
  .gaiyoNaiyo {
    position: absolute;
    margin: 7% 0 0 40%;
    padding: 0%;
    z-index: 8;
    width: 44%;
  }
  .tansaku {
    position: absolute;
    margin: 16% 0 0 52%;
    padding: 0%;
    z-index: 8;
    width: 14%;
  }
  .tansakuExp {
    position: absolute;
    margin: 21% 0 0 45%;
    padding: 0%;
    z-index: 8;
    width: 30%;
  }
  .reason {
    position: absolute;
    margin: 33% 0 0 50%;
    padding: 0%;
    z-index: 8;
    width: 20%;
  }
  .reasonExp {
    position: absolute;
    margin: 39% 0 0 43%;
    padding: 0%;
    z-index: 8;
    width: 36%;
  }
}

.seiHide {
  opacity: 0;
  p {
    background-image: url(../IMAGE/seiTitle.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(240, 248, 255, 0);
    font-size: 5em;
    padding: 0%;
    margin: -3% 0 0 50%;
    position: absolute;
    z-index: 8;
  }
  .seiExp {
    position: absolute;
    margin: 8% 0 0 39%;
    padding: 0%;
    z-index: 8;
    width: 42%;
  }
  .igyo2 {
    position: absolute;
    margin: 34% 0 0 55%;
    padding: 0%;
    z-index: 8;
    width: 26%;
  }
}
.yadoHide {
  opacity: 0;
  p {
    background-image: url(../IMAGE/yadoTitle.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(240, 248, 255, 0);
    font-size: 5em;
    padding: 0%;
    margin: -2% 0 0 44%;
    position: absolute;
    z-index: 8;
  }
  img {
    position: absolute;
    margin: 11% 0 0 41%;
    padding: 0%;
    z-index: 8;
    width: 38%;
  }
}
.townHide {
  opacity: 0;
  p {
    background-image: url(../IMAGE/townTitle.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(240, 248, 255, 0);
    font-size: 5em;
    padding: 0%;
    margin: -1% 0 0 45%;
    position: absolute;
    z-index: 8;
  }
  img {
    position: absolute;
    margin: 11% 0 0 40%;
    padding: 0%;
    z-index: 8;
    width: 40%;
  }
}
.igyoHide {
  opacity: 0;
  p {
    background-image: url(../IMAGE/monsterTitle.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgba(240, 248, 255, 0);
    font-size: 5em;
    padding: 0%;
    margin: -1% 0 0 52%;
    position: absolute;
    z-index: 8;
  }
  .monsterExp {
    position: absolute;
    margin: 9% 0 0 41.5%;
    padding: 0%;
    z-index: 8;
    width: 37%;
  }
  .igyo3 {
    position: absolute;
    margin: 30% 0 0 60%;
    padding: 0%;
    z-index: 8;
    width: 23%;
    filter: brightness(70%);
  }
}

.ikanaideKanji{
  color: rgb(133, 5, 5);
  position: fixed;
  font-family: 'New Tegomin', serif;
  font-size: 3em;
  margin: -10% 0 0 10%;
  padding: 0%;
  z-index: 999;
  writing-mode: vertical-rl;
  transition: .8s;
  opacity: 0;
}
.ikanaideKana{
  color: rgb(133, 5, 5);
  position: fixed;
  font-family: 'New Tegomin', serif;
  font-size: 3em;
  margin: 10% 0 0 87%;
  padding: 0%;
  writing-mode: vertical-rl;
  z-index: 999;
  transition: .8s;
  opacity: 0;
}
.ikanaideBig{
  color: rgb(133, 5, 5);
  position: fixed;
  font-family: 'New Tegomin', serif;
  font-size: 8.1em;
  font-weight: bolder;
  margin: -20% 0 0% 45%;
  padding: 0%;
  writing-mode: vertical-rl;
  transform: scaleX(-1);
  transition: .8s;
  opacity: 0;
}
.hand{
  position: fixed;
  margin: -20% 0 0 0;
  padding: 0%;
  width: 100%;
  z-index: 18;
  opacity: 0;
}
