//////------------------Common-------------------------////////////////
body {
  margin: 0%;
  padding: 0%;
  background-color: black;
}
a {
  text-decoration: none;
}
.black {
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin: -7% 0 0 15%;
  padding: 0%;
  width: 75%;
  height: 10.6%;
  z-index: 100;
}
.titleh1{
h1 {
  position: relative;
  margin: -1% 0 0 18%;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Zhi Mang Xing";
  font-size: 8em;
  letter-spacing: -0.2em;
  font-weight: lighter;
  writing-mode: vertical-lr;
  z-index: 100;
}
}
.light {
  position: fixed;
  top: 0%;
  margin: -30% 0 0 14.5%;
  padding: 0%;
  z-index: 8;
  opacity: 80%;
  filter: sepia(70%);
}
.blackNew {
  position: fixed;
  top: 0%;
  margin: -30% 0 0 14.5%;
  padding: 0%;
  z-index: 10;
  opacity: 80%;
}

.paper {
  margin: -1% 0 0 17%;
  padding: 0%;
  position: absolute;
  z-index: 1;
  height: 180%;
}

.top {
  position: absolute;
  margin: -13.5% 0 0 29%;
  padding: 0%;
  z-index: 100;
}
.topAka {
  position: absolute;
  margin: -12.5% 0 0 28%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}

.chara {
  position: absolute;
  margin: -13.5% 0 0 47%;
  padding: 0% 10% 0 0;
  z-index: 110;
}
.charaAka {
  position: absolute;
  margin: -12.5% 0 0 47%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.gallery {
  position: absolute;
  margin: -13.7% 0 0 65%;
  padding: 0%;
  z-index: 110;
}
.galleryAka {
  position: absolute;
  margin: -12.5% 0 0 65%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.story {
  position: absolute;
  margin: -8.5% 0 0 33%;
  padding: 0%;
  z-index: 110;
}
.storyAka {
  position: absolute;
  margin: -7.5% 0 0 33%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.play {
  position: absolute;
  margin: -8.5% 0 0 52%;
  padding: 0% 10% 0 0;
  z-index: 110;
}
.playAka {
  position: absolute;
  margin: -7.5% 0 0 52%;
  padding: 0%;
  z-index: 210;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
.special {
  position: absolute;
  margin: -8.5% 0 0 69%;
  padding: 0%;
  z-index: 110;
}
.specialAka {
  position: absolute;
  margin: -7.5% 0 0 70%;
  padding: 0%;
  z-index: 210;
}
//////////--------------------------------------------/////////////
